//nexus.mokooz.fr/repository/npm-private/:_authToken=NpmToken.e7d48a6d-2c5e-3392-bb7b-9946f50e2a82
@mkz:registry=https://nexus.mokooz.fr/repository/npm-private/
@mkz-service:registry=https://nexus.mokooz.fr/repository/npm-private/
@mkz-wc:registry=https://nexus.mokooz.fr/repository/npm-private/
